.chat-container {
    margin-top: 10px;
    width: 95%;
    height: 500px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    min-height: 20vh;
    padding-top: 65px;
    margin-left: 20px;
    min-height: 80vh;
    margin-bottom: 20px;
  }

  .chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
  }

  .message {
    margin: 8px 0;
    padding: 10px 15px;
    border-radius: 18px;
    /* max-width: 70%; */
    width: max-content;
    font-size: 14px;
  }

  .sent {
    background-color: #007bff;
    color: white;
    margin-left: auto;
    text-align: right;
  }

  .received {
    background-color: #e4e6eb;
    color: black;
    margin-right: auto;
    text-align: left;
  }

  .chat-input {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px;
    background: #f9f9f9;
  }

  .chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
  }

  .chat-input button {
    margin-left: 10px;
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: white;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
  }

  .chat-input button:hover {
    background: #0056b3;
  }